:root
  color-scheme: light dark

.v-application
.v-list
.background
  background: var(--v-background-base) !important
.v-toolbar
.v-navigation-drawer
.v-list.v-sheet
.v-expansion-panel
  background: var(--v-sheets-base) !important

.v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before
  opacity: 0

@css {
  .translucent {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: rgba(var(--v-background-base), 0.4) !important;
  }
}